* {
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  margin: 0;
  font-weight: 400;
}

$dark: #000;
$light: #fff;

$red--700: #bb4e4a;
$red--500: #d35753;
$red--400: #ea615c;

$gray--700: #7f7d7d;
$gray--500: #c9caca;
$gray--400: #e0dfdf;

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", system-ui;
}

.main-container {
  max-width: 948px;
  margin-inline: auto;
  padding-inline: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      width: 40px;
      aspect-ratio: 1;
    }
  }

  &__nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $red--400;
    padding: 30px 15px;
    border-top: 2px solid $dark;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    z-index: 20;
    display: none;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease;

    &--active {
      animation-name: openMenu;
      display: flex;
    }

    &--disable {
      display: flex;
      animation-name: closeMenu;
    }

    @media (width >= 768px) {
      position: static;
      opacity: 1;
      visibility: visible;
      color: $gray--700;
      background-color: transparent;
      border: none;
      padding: 0;
      display: flex;
      flex-direction: row;
      column-gap: 30px;
      transform: translateY(0);
      transition-duration: 0ms;
    }
  }

  &__link {
    text-decoration: none;
    color: $dark;
    border: 2px solid $dark;
    background-color: $light;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    padding: 6px 12px;
    text-transform: capitalize;
    transition-property: background-color, color, border-color;
    transition-duration: 300ms;
    transition-timing-function: ease;

    @media (hover: hover) {
      &:hover {
        color: $light;
        border-color: $light;
        background-color: $dark;
      }
    }

    @media (width >= 768px) {
      color: $gray--700;
      border: none;
      border-radius: 0;
      padding: 0;
      padding-block: 5px;
      border-bottom: 2px solid transparent;
      width: auto;

      @media (hover: hover) {
        &:hover {
          color: $dark;
          border-color: $gray--700;
          background-color: transparent;
        }
      }
    }
  }

  .search {
    padding-bottom: 15px;
    order: -1;
    width: 100%;

    @media (width >= 768px) {
      order: 0;
      width: auto;
      padding-bottom: 0;
      padding-left: 10px;
    }

    &__input {
      color: $dark;
      outline: none;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $dark;
      background-color: transparent;
      width: 100%;

      &::placeholder {
        color: inherit;
      }

      @media (width >= 768px) {
        width: auto;
        color: $gray--700;
        border-color: $gray--700;
      }
    }
  }

  .burger-btn {
    width: 40px;
    aspect-ratio: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    padding: 0;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        background-color: $red--400;
      }
    }

    &:active {
      background-color: $red--400;
    }

    &--active {
      background-color: $red--400;
    }

    @media (width >= 768px) {
      display: none;
    }

    &__item {
      display: block;
      width: 25px;
      height: 3px;
      background-color: $dark;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        width: 25px;
        background-color: $dark;
      }

      &::before {
        top: 12px;
      }

      &::after {
        bottom: 12px;
      }
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(1px);
  z-index: 10;
  visibility: hidden;
  opacity: 0;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  @media (width >= 768px) {
    display: none;
  }
}

@keyframes openMenu {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeMenu {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.hero {
  background-image: url("./img/watches.avif");
  background-repeat: no-repeat;
  background-position: 75vw bottom;
  background-size: 70%;
  margin-top: 30px;
  border-bottom: 1px solid $gray--400;

  @media (width >= 768px) {
    background-size: contain;
  }

  &__container {
    padding-top: 30px;
    padding-bottom: 230px;

    @media (width >= 768px) {
      padding-top: 120px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;
  max-width: 400px;

  &--small {
    max-width: 380px;
  }

  &__title {
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 30px;
  }

  &__text {
    position: relative;
    color: $gray--700;
    padding-left: 30px;
    line-height: 1.5;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: $gray--700;
    }
  }
}

.main-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  background-color: $red--400;
  color: $light;
  font-weight: 700;
  transition-property: background-color, transform;
  transition-duration: 200ms;
  border: none;
  transition-timing-function: ease;

  @media (hover: hover) {
    cursor: pointer;

    &:hover {
      background-color: $red--500;
    }
  }

  &:active {
    background-color: $red--700;
    transform: translateY(3px);
  }
}

.main-section {
  &__cards {
    display: flex;
    gap: 40px 80px;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 50px;

    @media (width >= 768px) {
      padding-bottom: 110px;
    }
  }

  &__card {
    flex: 1 1 calc((900px - 160px) / 3);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (width >= 768px) {
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__picture {
    margin-inline: -24px;
    order: -1;

    @media (width >= 768px) {
      display: contents;
    }
  }

  &__image {
    display: block;
    height: 100%;
    width: 100%;
    max-height: 400px;
    object-fit: cover;

    @media (width >= 768px) {
      max-height: 600px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  overflow: hidden;

  &__title {
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  &__text {
    line-height: 1.8;
  }

  &__dots {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__dots-item {
    display: block;
    width: 4px;
    aspect-ratio: 1;
    background-color: $gray--500;
  }

  &__link {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: $red--400;
    font-weight: 700;
    transform: translateX(-10px);
    padding-left: 54px;
    transition: transform 200ms ease;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      height: 2px;
      width: 40px;
      background-color: $red--400;
    }

    @media (hover: hover) {
      &:hover {
        transform: translateX(0);
      }
    }
  }
}

.footer {
  background-image: url("./img/runners.avif");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;

  &__container {
    min-height: 730px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__info,
  &__info-title,
  &__info-text {
    color: $light;
  }

  &__info-text {
    &::after {
      background-color: $light;
    }
  }
}
